<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Главная</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">О нас</a></li>
          <li><a href="" class="nav-link px-2 text-white">Марка </a></li>
          <li><a href="" class="nav-link px-2 text-white">Год </a></li> 
          <li><a href="{% url 'otzyvy' %}"class="nav-link px-2 text-white">Отзывы</a></li>
          <li><a href="http://127.0.0.1:8000/admin" class="nav-link px-2 text-white">Admin</a></li>
        </ul>

        <form action="{% url 'index' %}" method="get">
          <input type="search" name="search" placeholder="Search" aria-label="Search" >
          <button type="submit">найти</button>
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Войти</button>
          <button type="button" class="btn btn-warning">Регистрация</button>
        </div>
      </div>
    </div>
  </header>